// view/components/todo/filters.templ
package todo

templ Filters() {
    <div class="tabs tabs-boxed mb-6">
        <a class="tab tab-active">All</a>
        <a class="tab">Active</a>
        <a class="tab">Completed</a>
    </div>
}
