// view/components/todo/form.templ
package todo

templ Form() {
	<form hx-post="/add-todo" hx-target="#todo-list" hx-swap="innerHTML" class="mb-6">
		<div class="join w-full">
			<input
				type="text"
				placeholder="Add a new task..."
				class="input input-bordered join-item w-full"
				name="todoText"
				required
			/>
			<button
				type="submit"
				class="btn btn-primary join-item"
			>
				Add
			</button>
		</div>
	</form>
}
