// view/components/todo/list.templ
package todo

import "htmx-go-todolist/internal/types" // Import the types package!

templ List(todos []types.Todo) {
	<div id="todo-list" class="space-y-2">
		for _, todo := range todos {
			@Item(todo)
		}
	</div>
}
