// view/components/todo/list.templ
package todo

import "htmx-go-todolist/internal/types"

templ List(todos []types.Todo) {
    <ul>  // <-- Remove id="todo-list"
        for _, todo := range todos {
            @Item(todo)
        }
    </ul>
}
